<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>687</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:54</td>   <td>-436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="9efd78">  <td>17/08/07 18:15:55</td>   <td>546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod(java.lang.reflect.Method)[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="80de82">  <td>17/08/07 18:15:55</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testApp()[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">testApp</td> 
  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="80de82">  <td>17/08/07 18:15:55</td>   <td>390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testApp1()[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">testApp1</td> 
  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="80de82">  <td>17/08/07 18:15:55</td>   <td>515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testApp2()[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">testApp2</td> 
  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
<tr bgcolor="80de82">  <td>17/08/07 18:15:55</td>   <td>593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest.testApp3()[pri:0, instance:[SampleTest passed=0 failed=0 skipped=0]]">testApp3</td> 
  <td>pool-1-thread-2@33373931</td>   <td></td> </tr>
</table>
td> </tr>
</table>
