<h2>Methods that were not run</h2><table>
<tr><td>browserStackTestNG.BrowserStackTestNGTest.afterSuite</td></tr>
<tr><td>browserStackTestNG.BrowserStackTestNGTest.afterSuite</td></tr>
<tr><td>browserStackTestNG.BrowserStackTestNGTest.afterSuite</td></tr>
</table>