<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:37:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:clientSide.GeoValidAddressSearch@19d1a19]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>17/08/07 18:37:37</td>   <td>5660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeoValidAddressSearch.geoip_valid_address_search()[pri:0, instance:clientSide.GeoValidAddressSearch@19d1a19]">geoip_valid_address_search</td> 
  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:37:37</td>   <td>5691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.afterMethod(org.testng.ITestResult)[pri:0, instance:clientSide.GeoValidAddressSearch@19d1a19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:37:37</td>   <td>5972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:clientSide.GeoInvalidAddressSearch@19c0f4a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>17/08/07 18:37:42</td>   <td>10848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeoInvalidAddressSearch.geoCoding_invalid_address_search()[pri:0, instance:clientSide.GeoInvalidAddressSearch@19c0f4a]">geoCoding_invalid_address_search</td> 
  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:37:57</td>   <td>25758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.afterMethod(org.testng.ITestResult)[pri:0, instance:clientSide.GeoInvalidAddressSearch@19c0f4a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:37:57</td>   <td>25805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:clientSide.GeoSendDirectionViaEmail@194d431]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>17/08/07 18:38:13</td>   <td>41503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeoSendDirectionViaEmail.geoIp_send_direction_via_email()[pri:0, instance:clientSide.GeoSendDirectionViaEmail@194d431]">geoIp_send_direction_via_email</td> 
  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:38:28</td>   <td>56365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.afterMethod(org.testng.ITestResult)[pri:0, instance:clientSide.GeoSendDirectionViaEmail@194d431]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:38:28</td>   <td>56412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String, java.lang.reflect.Method)[pri:0, instance:clientSide.GeoBlankAddressSearch@e26948]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 18:38:32</td>   <td>60680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GeoBlankAddressSearch.geoCoding_blank_address_search()[pri:0, instance:clientSide.GeoBlankAddressSearch@e26948]">geoCoding_blank_address_search</td> 
  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>17/08/07 18:38:47</td>   <td>75697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.afterMethod(org.testng.ITestResult)[pri:0, instance:clientSide.GeoBlankAddressSearch@e26948]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>17/08/07 18:38:47</td>   <td>75744</td> <td>&nbsp;</td><td title="&lt;&lt;GeoBlankAddressSearch.finish()[pri:0, instance:clientSide.GeoBlankAddressSearch@e26948]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@10627960</td>   <td></td> </tr>
</table>
