<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>17/06/08 12:16:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BlankAddress.blankaddress()[pri:0, instance:testSuite.ClientSide.direction.BlankAddress@3159c4b8]">blankaddress</td> 
  <td>TestNG@1285559773</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/06/08 12:16:14</td>   <td>-2160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserStackTestNGTest.setUp(java.lang.String, java.lang.String)[pri:0, instance:testSuite.ClientSide.direction.BlankAddress@3159c4b8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@1285559773</td>   <td></td> </tr>
<tr bgcolor="ceaf6a">  <td>17/06/08 12:16:24</td>   <td>7952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserStackTestNGTest.tearDown()[pri:0, instance:testSuite.ClientSide.direction.BlankAddress@3159c4b8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1285559773</td>   <td></td> </tr>
</table>
